@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold'), url('../resources/font/Gotham-font/GothamBold.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book'), url('../resources/font/Gotham-font/GothamBook.woff') format('woff');
}

.page {
    background-image: url("../resources/img/background.png");
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 1fr 409px 1fr;
    padding: 0;
    height: 100vh;
}

.form {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    align-items: stretch;
    height: 409px;
    text-align: center;
    vertical-align: middle;
}

.form__element {
    margin: 48px 48px 0;
}

.form * {
    box-sizing: border-box;
    border: 0;
}


.form__input {
    width: 100%;
    margin: auto;
    background: #F1F1F1;
    border-radius: 4px;
    height: 48px;
    padding: 14px 16px;
}

.form__input::placeholder {
    font-family: Gotham, serif;
    font-size: 16px;
    line-height: 19px;
    color: #262626;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.form__title {
    font-family: Gotham, serif;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;

    color: #262626;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.form__input_email {
    margin-bottom: 32px;
}

.form__input_content-div {
    padding: auto;
}

.form__submit {
    width: 148px;
    height: 48px;
    background: #ED4159;
    box-shadow: 0 4px 16px rgba(237, 65, 89, 0.4);
    border-radius: 100px;
    margin: 48px auto;
    font-family: "Gotham Book", serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    content: "Login";
}

.header {
    text-align: center;
    padding-top: 142px;
}