.page {
    height: 100vh;
    background-image: linear-gradient(-55deg, #18b38c, #6277df);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
    background-attachment: fixed
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    align-items: stretch;

    height: 409px;
}

.form__element {
    margin: 48px 48px 0;
}

.form * {
    box-sizing: border-box;
    border: 0;
}


.form__input {
    font-family: Gotham;
    font-size: 16px;
    line-height: 19px;
    color: #262626;
    mix-blend-mode: normal;
    opacity: 0.4;
    width: 100%;
    margin: auto;
    background: #F1F1F1;
    border-radius: 4px;
    height: 48px;
}

.form__title {
    font-family: Gotham;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2px;

    color: #262626;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.form__input_email {
    margin-bottom: 32px;
}

.form__input_content-div {
    padding: auto;
}